*{margin: 0px; padding: 0px;}
.body{
    font-family: serif;
    font-size: 14px;
    line-height: 24px;
    width: 1140px;
}
h1 , h2 ,h3 ,h4 ,h5 ,h6{
    font-family: serif;

}
a ,a:hover{
    text-decoration: none;
}
.menu-section {
    width: 100%;
    height: 62px;
    background-color: #eee;
    color: black;
    position: fixed;
    z-index: 2;
}
.logo {
    margin-left: 150px;
    width: 4%;
}
.menu-list {
    float: right;
    margin-right: 150px;
}
.menu-list li{
    
display: inline-block;
}
.menu-list li a {
    margin-left: 50px;
    font-size: 20px;
    line-height: 58px;
    
    transition: 1s;
}
.menu-list li a:hover {
    margin-left: 50px;
    font-size: 23px;
    line-height: 58px;
    color: crimson;
    font-weight: 900px;
    
}
marquee {
    width: 100%;
    height: 50px;
    background-color: cornsilk;
    color: crimson;
    font-weight: 1000;
    font-size: 20px;
    line-height: 53px;
    /* transition: 25s; */
    margin-top: 62px;
}

.banner-image{
    width: 100%;
    display: inline-block;
    position: relative;

}
.welcome {
    margin: 132px 0px 0px 150px;
    font-size: 35px;
    font-weight: 1000;
    color: black;
    position: absolute;
    z-index: 1;
}
.registration a {
    background: crimson;
    color: white;
    border-radius: 10px;
    padding: 14px;
    font-size: 21px;
    border: 1px solid white;
    font-weight: 1000;
    transition: 0.40s;
}
.registration a:hover {
    background: white;
    color: crimson;
    border-radius: 10px;
    padding: 14px;
    font-size: 21px;
    border: 1px solid crimson;
    font-weight: 1000;
}
.row {
   
    width: 100%;
    float: left;
    margin-top: 30px;
    height: 800px;
    
}
.call-3 {
    width: 22.50%;
    height: 349px;
    margin-left: 30px;
    float: left;
    background-color: #eee;
    transition: 1s;
    border-radius: 7px;
}
.call-3:hover{
    width: 24%;
    height: 360px;
    margin-left: 30px;
    border: 2px solid #eee;
    float: left;
    background-color:white;
    border-radius: 7px;
}
.yousuf-sir{
    
        width: 62%;
        border-radius: 100%;
        margin: 23px 0px 0px 67px;
        
    }
    .Identity{
        text-align: center;
        margin: 30px 0px;
        font-weight: 800;
        font-size: 18px;
    }
    .billal{
        
            width: 62%;
            border-radius: 100%;
            margin: 23px 0px 0px 67px;
        }
.towfiq{
    width: 62%;
    border-radius: 100%;
    margin: 23px 0px 0px 67px;
}
.selim{
    border-radius: 100%;
    width: 59%;
    margin: 23px 0px 0px 67px;
}
  
